*{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
body{
	height: 100vh;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(45deg, rgb(0,0,0) 0%, rgb(69,72,77) 100%);
	background: -webkit-linear-gradient(45deg, rgb(0,0,0) 0%,rgb(69,72,77) 100%);
	background: linear-gradient(45deg, rgb(0,0,0) 0%,rgb(69,72,77) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 );
}
/*********** GRILLE *********/
.row {
	display:flex;
	flex-direction: row;
}
.row > * {
	flex: 0 0 auto;
}
.row > :first-child{
	margin-left: 0;
}
.col-12 {
	width: 100%;
}
.col-11 {
	width: 91.53%;
}
.col-10 {
	width: 83.06%;
}
.col-9 {
	width: 74.6%;
}
.col-8 {
	width: 66.13%;
}
.col-7 {
	width: 57.66%;
}
.col-6 {
	width: 49.2%;
}
.col-5 {
	width: 40.73%;
}
.col-4 {
	width: 32.26%;
}
.col-3 {
	width: 23.8%;
}
.col-2 {
	width: 15.33%;
}
.col-1 {
	width: 6.866%;
}


/******* GENERAL ********/
header {
	height: 80px;
	margin-bottom: 2%;
}
header>.logo{
	width: 30px;
	height: 30px;
	margin: 20px 20px;
}
p{
	color: #ffffff;
	text-align: center;
}
h1,h2{
	text-align: center;
	color: #ffffff;
}
h1{
	margin-bottom: 20px;
	text-transform: uppercase;
}
p{
	color: rgba(255,255,255,.8);
	font-size: 14px;
}

/****** HEARTBEAT ********/
.heartbeat{
	height: 200px;
}



/********* FORM ************/
form{
	text-align: center;
}
input[type="email"] {
	width: 300px;
	height: 30px;
	background-color: transparent;
	border-radius: 30px;
	border-color: #ffffff;
	color: #ffffff;
	margin: 20px;
	padding: 5px;
	padding-left: 20px;
}
input[type="submit"]{
	width: 125px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 30px;
	color: #000000;
	margin: 20px;
	padding: 5px;
	text-transform: uppercase;
}


/******** RS ***********/
ul li a{
	color: #fff;
	text-decoration: none;
}
ul{
	text-align: center;
	line-height: 80px;

}
ul li{
	display: inline;
	margin-right: 10px;
}


@media (max-width: 747px){
	body{
		height: inherit;
	}
	.baseline{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 25px;
	}
	.row{
		display: inline-block;
	}
	h1, h2{
		font-size:24px;
		margin-bottom: 25px;
	}
	p{
		padding: 10px;
	}
}

