*{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #ffffff;
}
body{
	height: 100vh;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(45deg, rgb(0,0,0) 0%, rgb(69,72,77) 100%);
	background: -webkit-linear-gradient(45deg, rgb(0,0,0) 0%,rgb(69,72,77) 100%);
	background: linear-gradient(45deg, rgb(0,0,0) 0%,rgb(69,72,77) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 );
}

/*********** GRILLE *********/
.row {
	display:flex;
	flex-direction: row;
}
.row > * {
	flex: 0 0 auto;
}
.row > :first-child{
	margin-left: 0;
}
.col-12 {
	width: 100%;
}
.col-11 {
	width: 91.53%;
}
.col-10 {
	width: 83.06%;
}
.col-9 {
	width: 74.6%;
}
.col-8 {
	width: 66.13%;
}
.col-7 {
	width: 57.66%;
}
.col-6 {
	width: 49.2%;
}
.col-5 {
	width: 40.73%;
}
.col-4 {
	width: 32.26%;
}
.col-3 {
	width: 23.8%;
}
.col-2 {
	width: 15.33%;
}
.col-1 {
	width: 6.866%;
}


/******* GENERAL ********/
header {
	height: 100px;
	margin-bottom: 2%;
}
header>.logo{
	width: 30px;
	height: 10px;
	margin: 20px 20px;
}
.baseline{
	margin-bottom: 2%;
}
.baseline2{
	color: #ffffff;
	text-align: center;
	font-weight: 200;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

h1,h2{
	text-align: center;
	color: #ffffff;
}
h1{
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
p{
	/*color: rgba(255,255,255,.8);*/
	color: #ffffff;
	font-size: 14px;
}

/********* LOGO *********/
.logo > a > .mobile, .logo > a > .tablette{
	display: none;
}
@media (min-width: 600px) and (max-width: 1024px) {
	.logo > a > .tablette {
		display: block;
	}

	.logo > a > .mobile, .logo > a > .desktop {
		display: none;
	}
}


/****** HEARTBEAT ********/
.heartbeat{
	height: auto;
	margin-bottom: 2%;
}
.path {
	stroke-dasharray: 100%;
	stroke-dashoffset: -100%;
	animation: dash 6s linear infinite;
}
svg{
	width: 100%;
}
@keyframes dash {
	from {
		stroke-dashoffset: 100%;
	}
	to {
		stroke-dashoffset: -100%;
	}
}



/********* FORM ************/
form{
	text-align: center;
	margin-bottom: 45px;
}
input[type="email"] {
	width: 300px;
	height: 30px;
	background-color: transparent;
	border-radius: 30px;
	border: 1px solid #ffffff;
	padding: 5px;
	padding-left: 20px;
}
input[type="submit"]{
	width: 125px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 30px;
	color: #000000;
	/*margin: 20px;*/
	/*margin-right: 0;*/
	padding: 5px;
	text-transform: uppercase;
	cursor: pointer;
}
/*input[type="submit"]:hover{*/
	/*background-color: transparent;*/
	/*color: #ffffff;*/
	/*border: 1px solid #ffffff;*/
	/*!*transition:color 0.25s ease;*!*/

/*}*/


/****** FOOTER ********/

footer>a{
	display: block;
	margin: auto;
	width: 100%;
	text-decoration: none;
	text-align: center;
}


/**** MENTIONS LEGALES ****/
.mentions{
	padding: 20px;
	margin-bottom: 180px;
}
.mentions>p{
	margin-bottom: 10px;
}
strong{
	font-weight: bold;
}

/******** RS ***********/
.rs-desktop{
	float: right;
	margin-right: 35px;
}
.rs-desktop>a{
	margin-left: 15px;
	text-decoration: none;
}
.rs-mobile{
	display: none;
}


/******* MAILCHIMP *********/
/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {display:block;text-align:center;}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {background-color: #FFFFFF; border: 0 none; border-radius:80px; color: #000000; cursor: pointer; display: inline; font-size:12px; font-family: Raleway, Helvetica, sans-serif; font-weight: 300; padding: 0 22px; text-align: center; text-decoration: none; width: auto;margin-left: 15px}
/*#mc_embed_signup .button:hover {background-color:#777;}*/
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {display: inline;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input[type="email"] {display:inline; width:400px !important; border-radius: 100px; padding: 5px 10px 5px 10px; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#FFFFFF; font-size:150%; font-weight:normal; position:relative; top:5px;}
#mc_embed_signup .clear {display:inline;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; font-weight:bold; z-index:1; width:100%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#FFFFFF; display:none;}
#mc_embed_signup label.error {display:inline-block; float:none; width:auto; text-align:center; width: 100%;padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; color:#FFFFFF;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {}




/*mobile*/
@media (max-width: 599px) {
	body{
		height: inherit;
	}
	.baseline{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 25px;
	}
	.row{
		display: inline-block;
	}
	h1, h2{
		font-size:24px;
		margin-bottom: 25px;
	}
	p{
		padding: 10px;
	}
	.mentions{
		margin-bottom: 111px;
	}
	footer>a{
		margin-bottom: 20px;
	}
	.logo > a > .mobile{
		display: block;
	}
	.logo > a > .tablette, .logo > a > .desktop{
		display: none;
	}
	#mc_embed_signup .mc-field-group input[type="email"]{
		margin-bottom: 10px;
		width: 90% !important;
	}
	.rs-desktop{
		display: none;
	}
	.rs-mobile{
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.rs-mobile>a{
		margin-right: 50px;
		text-decoration: none;
	}
	.rs-mobile>a:last-child{
		margin-right: 0;
	}

}
